@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&family=Outfit:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Outfit', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #FF9324;
}

@layer base {
    html {
        font-family: var(--font-sans);
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfbfc;
    }
}